body{
	background-color: #0055AA;
	font-family: "Microsoft Sans Serif";
}

.mtable{
border: 5;
background-color: #EEEEEE;
padding: 15px;
width: 600px;
height:auto;
-moz-border-radius: 15px;
border-radius: 15px;
margin-top: 10%;
}

.mtable tr td{
vertical-align: middle;
}

.mtable tr td div{
color: #112266;
}

#inbox{
display:block;
border: 2px;
-moz-border-radius: 5px;
border-radius: 5px;
box-shadow: 2px 2px 5px #111111;
height: 30px;
width: 100%;
float:left;
background:white;
}

#clcbutton{
display: block;
border: 2px;
-moz-border-radius: 5px;
border-radius: 5px;
height: 20px;
width: 20px;
float: right;
margin: 5px 5px;
background: maroon;
color: white;
font-weight: bold;
text-decoration:none;
}

#input{
width:90%;
height:inherit;
border:0px;
}
#info{
	display:block;
	text-align: center;
}
#help{
	display:block;
	border: thin inset #C0C0C0;
	background-color: #808080;
}
.helpdiv{
	display:block;
	padding: 0px;
	margin: 0px;
	width:100%;
	float:left;
}

#helpbutton{
	padding: 0px;
	margin: 0px;
	display:block;
	border: 2px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px #111111;
	background:white;
	width:50%;
	text-decoration:none;
}


#tail{
margin: 5px 5px;
padding: 0px 5px;
}

.dropbox{
	padding: 5px 5px;
	margin: 15px 0px;
	background-color: #AACCFF;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 4px;
}

.inbox{
	padding: 5px 10px;
	background-color: #EEEEFF;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 3px;
}

#xybox{
	display:none;
	position:absolute;
	height:20px;
	width:auto;
	opacity:0.7;
	border: 2 solid #999999;
	border-radius: 2px;
	-moz-border-radius: 2px;
	box-shadow: 2px 2px 5px #111111;
	background:white;"
}